<div id="<%= dom_id planet %>">
  <p>
    <strong>Name:</strong>
    <%= planet.name %>
  </p>

  <p>
    <strong>Mission:</strong>
    <%= planet.mission_id %>
  </p>

  <p>
    <strong>Supply oxygen:</strong>
    <%= planet.supply_oxygen %>
  </p>

  <p>
    <strong>Supply food:</strong>
    <%= planet.supply_food %>
  </p>

  <p>
    <strong>Supply energy:</strong>
    <%= planet.supply_energy %>
  </p>

  <p>
    <strong>Radiation:</strong>
    <%= planet.radiation %>
  </p>

  <p>
    <strong>Temperature:</strong>
    <%= planet.temperature %>
  </p>

</div>
