<div id="<%= dom_id mission %>">
  <p>
    <strong>Name:</strong>
    <%= mission.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= mission.status %>
  </p>

  <p>
    <strong>Log:</strong>
    <%= mission.log %>
  </p>

  <p>
    <strong>Level oxygen:</strong>
    <%= mission.level_oxygen %>
  </p>

  <p>
    <strong>Level food:</strong>
    <%= mission.level_food %>
  </p>

  <p>
    <strong>Level energy:</strong>
    <%= mission.level_energy %>
  </p>

</div>
